body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.icon-octocat {
    background-size: 100%;
    background-image: url("//cdn.darkoverlordofdata.com/images/GitHub-Mark-32px.png");
    background-position: center center;
}

a.no-link:hover,a.no-link:focus,a.no-link{color:#333;text-decoration:none;}

.set-1 {font-size: 8pt;}
.set-2 {font-size: 10pt;}
.set-3 {font-size: 12pt;}
.set-4 {font-size: 16.4pt;}
.set-5 {font-size: 22pt;}

#tag-cloud {
    height: 250px; width:290px;
}
#tag-cloud div {
    text-align:center; padding:30px;
    overflow:auto; font-size:70%; font-family:arimo;
    border-radius: 50%; background-color: #333;

}
#tag-cloud a { text-decoration:none; color:#f8f8ff; }
#tag-cloud li a:hover { text-decoration:underline; }


