</div>

<!--<p class="pagination-centered">-->
    <!--<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdarkoverlordofdata.com%2Fliquid.coffee%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=1495109164043412" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>-->
    <!--<span class="g-plusone" data-size="medium"></span>-->
<!--</p>-->
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li>
                    <span class="g-plusone" data-size="medium"></span>
                </li>
                <li>
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdarkoverlordofdata.com%2Fliquid.coffee%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=1495109164043412"
                            scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                </li>
                <li>
                    <iframe class="github-btn"
                            src="http://ghbtns.com/github-btn.html?user=darkoverlordofdata&amp;repo=liquid.coffee&amp;type=watch&amp;count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </li>
                <li>
                    <iframe class="github-btn"
                            src="http://ghbtns.com/github-btn.html?user=darkoverlordofdata&amp;repo=liquid.coffee&amp;type=fork&amp;count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </li>
            </ul>
        </div>


<p class="pagination-centeredz">
    <small class="muted">
        <a class="no-link" href="/liquid.coffee">
            Copyright Dark Overlord of Data 2013 - 2014</a>
    </small>
<p class="pagination-centeredz">
    <a href="https://github.com/darkoverlordofdata/liquid.coffee">
        <i class="icon icon-octocat"></i></a>
</p>
    </div>
</footer>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js" ></script>
<script type="text/javascript" src="//cdn.darkoverlordofdata.com/js/bootstrap.min.js" ></script>
</body>
</html>